@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  border: 2px solid red;
}

.sidebar {
  border: 2px solid green;
}

main {
  border: 2px solid blue;
}

.top {
  border: 2px solid black;
}

.bot {
  border: 2px solid purple;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: min-content 1fr;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.sidebar {
  grid-row: 1 / -1;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
}

.header .top, .header .bot {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  align-items: center;
}

.header .top .left {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 0.25rem;
  align-items: center;
}

.header .top .right {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 0.75rem;
  align-items: center;
}

.header .bot .left {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  align-items: center;
}

.header .bot .right {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 1rem;
}

.header .bot .left .accounticon {
  grid-row: 1 / -1;
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content repeat(3, 1fr);
}

.projects-title {
  grid-column: 1 / -1;
}

.announcements {
  display: grid;
  grid-template-rows: min-content repeat(3, 1fr);
}

.trending {
  display: grid;
  grid-template-rows: min-content repeat(4, 1fr);
}

/* Design */
.sidebar {
  background-color: #1e40af;
  padding: 0.5rem;
}

.sidebar .logo {
  display: flex;
  align-items: center;

  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.sidebar .links, .sidebar .settings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar .links .link, .sidebar .settings .setting {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: white;
}

.sidebar .links img, .sidebar .settings img {
  height: 1.5rem;
}

.searchbar {
  background-color: lightgray;
  border-radius: 1rem;
  height: 1.5rem;
  width: 20rem;
}

.searchicon, .bellicon {
  height: 1.5rem;
}

.top .accounticon {
  height: 3rem;
}

.bot .accounticon {
  height: 3.5rem;
  margin-right: 0.5rem;
}

.button {
  background-color: #1e40af;
  height: 2rem;
  width: 5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .bot .left p:first-of-type {
  align-self: end;
  font-size: small;
  margin-bottom: 0.25rem;
}

.header .bot .left p:last-of-type {
  align-self: start;
  font-weight: bold;
}

.trending .card {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.trending .card .accounticon {
  height: 3rem;
  grid-row: 1 / -1;
}

.trending .card h3 {
  align-self: end;
}

.trending .card p {
  align-self: start;
}